<section class="hero">
  <div class="hero-positioning">
    <div class="hero-info">
      <div class="author">
        <div class="info">
          <div class="img-box">
            <img
              src="https://media.istockphoto.com/id/1485575032/photo/finance-your-degree-and-invest-in-your-future.jpg?s=1024x1024&w=is&k=20&c=FwBPsSaYnouFEPscUJju99ePqn_rwFjvpwqirZHDOVs="
              alt=""
            />
          </div>
          <p>Ali Tufan</p>
          <p>Last updated 29 December 2019</p>
        </div>
        <div>
          <button class="share btn">Share</button>
        </div>
      </div>
      <div class="course-title">
        <p>Design Instruments for Communication</p>
      </div>
      <div class="rating">
        <button class="best-seller btn">Best Seller</button>
        <p>5 stars</p>
      </div>
      <div class="statistics">
        <div class="statistic">
          <p>Ic</p>
          <p>1 stats name</p>
        </div>
        <div class="statistic">
          <p>Ic</p>
          <p>0 stats name</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="content-box">
    <div class="main-information-box">
      <div class="course-video box">
        <img
          src="https://media.istockphoto.com/id/1485575032/photo/finance-your-degree-and-invest-in-your-future.jpg?s=1024x1024&w=is&k=20&c=FwBPsSaYnouFEPscUJju99ePqn_rwFjvpwqirZHDOVs="
          alt=""
        />
      </div>
      <div class="course-overview-box box">
        <h1>Course Overview</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque
          architecto laudantium odit sapiente optio, sunt, veniam quo non
          tenetur vel voluptas voluptates! Ex repudiandae laborum eum ullam.
          Necessitatibus ab exercitationem earum dolorum aspernatur soluta iste
          cumque consectetur molestias molestiae eum ad accusantium quas rem
          veritatis saepe tempore culpa eius amet minus, tenetur fugiat error?
          Hic fugit laboriosam alias aliquam ex distinctio blanditiis tempore
          eum cum pariatur rem, dolore quidem praesentium, labore veniam iste
          minima dolor, ut culpa perferendis ipsum dolorem perspiciatis eius!
          Incidunt fugiat ipsam, voluptatibus temporibus, iusto, perferendis
          voluptatum cum non atque natus eligendi ullam rerum deserunt sequi.
          Repudiandae tempora omnis quae assumenda obcaecati praesentium culpa
          cum maxime aperiam! Corrupti, iure. Eveniet adipisci quia laborum
          saepe aspernatur ullam sit, quas optio, nobis doloribus officiis qui
          ipsa iure, distinctio ratione. Aliquam, eveniet qui repellat
          aspernatur maxime quisquam distinctio, officia quis doloremque iste
          nisi, debitis neque eaque possimus consectetur facilis nesciunt
          repudiandae nam! Sapiente magnam fugit recusandae ea blanditiis
          tempore nulla? Iusto asperiores totam similique voluptatum animi sit
          nulla consequatur dolor dolorum inventore, aperiam exercitationem
          cupiditate provident quibusdam alias quo dolore quas? Nam aut
          perferendis dolorem qui doloribus saepe necessitatibus aspernatur at
          iste! Rem placeat nesciunt aut aliquam, laborum, quibusdam nam,
          accusantium modi laudantium repellendus iusto sequi. Labore nostrum
          ipsa totam deleniti facere ullam aut suscipit sint vitae consectetur
          expedita nihil quam ratione, facilis in itaque, ducimus unde porro
          eligendi! Soluta blanditiis tempora labore nesciunt id cum. Cumque
          nesciunt repellat praesentium quod dolores incidunt labore, possimus
          tenetur consectetur, vel expedita, omnis ipsum voluptates laborum quos
          perspiciatis. Itaque optio sapiente doloribus, maxime ab accusantium
          expedita placeat, aperiam temporibus soluta est obcaecati ipsum
          consequatur, inventore aliquam nisi ex dignissimos quo id dolorum
          animi. Laboriosam earum, neque sapiente impedit id similique fugiat?
          Cum laborum eum delectus odio explicabo beatae nihil quod sed,
          accusantium repellat?
        </p>
      </div>
      <div class="course-content-box box">
        <h1>Course Content</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam,
          molestias ducimus quis omnis laborum eius molestiae, sit dolores ex
          asperiores non maiores facilis harum error quas aspernatur laboriosam
          consectetur dolorum adipisci libero? Facere suscipit soluta nulla
          provident, nihil, pariatur tempore officia cum doloremque autem, unde
          a fugit commodi quasi. Commodi architecto quas ad, atque dicta
          doloremque explicabo nostrum consectetur velit dignissimos optio minus
          ipsum cumque perspiciatis aut reiciendis vitae ratione nobis iure
          voluptates? Quaerat quisquam reiciendis fugiat voluptate. Eos et
          repellendus aspernatur cupiditate excepturi? Esse hic nostrum saepe
          voluptatem non maiores exercitationem quaerat quo iste consequatur,
          itaque eligendi cum dicta quibusdam sunt assumenda numquam alias
          consequuntur repellendus qui quod. Eligendi pariatur et perspiciatis
          corrupti explicabo culpa atque eius, ullam, quasi aliquam quo dicta
          amet, reprehenderit ducimus. Cupiditate natus voluptatem eligendi
          nihil modi veniam corrupti et doloremque libero. Atque dolorem qui
          incidunt. Optio labore nam qui quos. Voluptate necessitatibus tenetur
          quia ut error corrupti illo asperiores, harum incidunt cumque
          assumenda ex rerum similique hic nobis. Impedit quod rem, commodi
          expedita quasi inventore accusamus nam, reprehenderit eius atque vel
          minus! Fugiat, expedita? Fugit molestiae quis ipsa esse quaerat ex,
          nulla vitae blanditiis sapiente ratione consequuntur voluptates modi
          voluptatem reprehenderit dicta laudantium corrupti. Veniam aut
          voluptatem similique sit quos. Unde nulla totam dolorem magni
          doloribus aperiam asperiores sit repellendus quod hic, accusamus
          laborum exercitationem ea quibusdam provident minima nobis cupiditate
          quisquam quasi consequuntur corporis voluptates distinctio quis.
          Quidem, quis at beatae reiciendis sed et ut? Aspernatur error ab
          facere magnam deserunt, cumque sequi mollitia consequatur ex
          blanditiis quod rerum libero magni corrupti maxime officiis harum ea
          sint tenetur dolorem perspiciatis accusantium architecto. Eaque illo
          pariatur ducimus, ut voluptatum adipisci! Quod minima iste magni
          adipisci rem quisquam. Numquam similique esse sapiente aliquam
          voluptates libero atque, adipisci nihil amet? Optio assumenda
          aspernatur ea beatae esse!
        </p>
      </div>
      <div class="about-the-instructuor-box box">
        <h1>About the instructor</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni soluta
          exercitationem nostrum expedita totam laboriosam ex cumque provident
          accusantium voluptatem! Eos laudantium vel eligendi et deleniti ipsum
          velit iusto quod repudiandae. Doloremque accusantium, culpa, nostrum
          porro ipsum corporis repudiandae numquam temporibus quod nihil
          corrupti at, asperiores incidunt voluptas? Praesentium aliquid velit
          nobis ullam adipisci eos iste atque rerum. Laboriosam accusamus soluta
          asperiores explicabo recusandae alias reprehenderit, rerum rem error
          sint possimus nisi aperiam eius aspernatur blanditiis harum minima,
          nihil quibusdam exercitationem. Cum ducimus ea, totam, accusantium
          deleniti aliquam laborum itaque beatae eveniet, rem culpa voluptatum
          nulla corrupti tempora assumenda aperiam! Nobis officiis alias, iusto
          voluptatum ducimus ratione dignissimos quia? Molestiae magnam dolores
          quas obcaecati illum in corporis aspernatur nostrum velit? Eveniet
          numquam laudantium qui eaque labore quam neque, esse suscipit
          dignissimos quae? Ullam ratione voluptatum reprehenderit rerum culpa
          natus illo voluptates, et ut adipisci tenetur autem dolorum doloribus
          possimus nulla fugit veniam, error iure! Maiores necessitatibus velit,
          praesentium molestiae sunt consequatur blanditiis quas unde dolorem
          dolor omnis iusto delectus ea deserunt assumenda harum vero nihil!
          Sunt eos repudiandae exercitationem vitae quidem facilis voluptates
          amet, molestias tempore iure quos voluptatum recusandae asperiores quo
          eveniet fugiat eum quae incidunt harum ratione. Sapiente vel modi
          rerum cupiditate possimus inventore aut a eaque unde minus impedit
          quia maiores, ex delectus commodi aliquam excepturi velit libero
          tempore hic culpa quaerat? Qui labore a iusto maiores, delectus iure
          eum error eaque deleniti quas ipsum ex reiciendis amet sapiente ipsa
          tempora odit libero sed accusantium ab quisquam dolorum quidem iste.
          Perferendis provident esse officia, laboriosam reiciendis totam vitae
          voluptatum sed? Numquam consequuntur dolorem doloremque accusantium
          inventore laborum nisi magni nostrum minus quidem iste debitis
          ducimus, facere earum doloribus expedita ad quos, eaque beatae
          deleniti. Ex incidunt voluptatum molestiae voluptates, cumque,
          asperiores nisi dolorum distinctio eos dignissimos nemo!
        </p>
      </div>
      <div class="related-courses-box box">
        <p>Related Courses</p>
        <div class="courses-cards">
          <courses-app-cardcourse></courses-app-cardcourse>
          <courses-app-cardcourse></courses-app-cardcourse>
          <courses-app-cardcourse></courses-app-cardcourse>
        </div>
      </div>
    </div>
    <div class="aditional-side-info-box">
      <div class="posisioning-cotainer">
        <div class="price-box box">
          <h1>{{ course.title }}</h1>
          <p>{{ course.description }}</p>
        </div>
        <div class="course-feature-box box"></div>
        <div class="tags-box box"></div>
      </div>
    </div>
  </div>
</section>
