<section class="container">
  <div class="register-container">
    <h1 class="logo">Register</h1>
    <form class="register-form" [formGroup]="registerForm">
      
      <!--First Name-->
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="firstName"
          placeholder="First Name"
        />
        <mat-error *ngIf="isFieldValid('firstName', 'required')">
          First Name required
        </mat-error>
      </mat-form-field>

      <!--Last Name-->
      <mat-form-field class="last-name" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          type="text"
          formControlName="lastName"
          placeholder="Last Name"
        />
        <mat-error *ngIf="isFieldValid('lastName', 'required')">
          Last Name required
        </mat-error>
      </mat-form-field>

      <!--Email-->
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          formControlName="email"
          placeholder="Email"
        />
        <mat-error *ngIf="isFieldValid('email', 'required')">
          Email required
        </mat-error>
        <mat-error *ngIf="isFieldValid('email', 'email')">
          Enter a valid email address
        </mat-error>
      </mat-form-field>

      <!--Password-->
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
          placeholder="Password"
        />
        <mat-error *ngIf="isFieldValid('password', 'required')">
          This field is required
        </mat-error>

        <mat-error *ngIf="isFieldValid('password', 'minlength')">
          Password must be a least 8 characters
        </mat-error>
      </mat-form-field>

      <div class="submit-btn">
        <button
          type="submit"
          mat-raised-button
          color="primary"
          (click)="onSubmit()"
        >
          Register
        </button>
      </div>
    </form>
  </div>
  <div class="brand-container">

  </div>
</section>
