<section class="register">
  <div class="register-container">
    <div class="row">
      <div class="col-6">
        <h1 class="title">Register</h1>
        <form class="register-form" [formGroup]="registerForm">

          <!--First Name-->
          <div class="first-name">
            <label>First Name</label>
            <input
              class="firstName-input"
              type="text"
              formControlName="firstName"
              placeholder="First Name"
            />
            <span class="err-message" *ngIf="errorMessages.firstNameMessages">
              {{ errorMessages.firstNameMessages }}
            </span>
          </div>

          <!--Last Name-->
          <div class="last-name">
            <label>Last Name</label>
            <input
              class="lastName-input"
              type="text"
              formControlName="lastName"
              placeholder="Last Name"
            />
            <span class="err-message" *ngIf="errorMessages.lastNameMessages">
              {{ errorMessages.lastNameMessages }}
            </span>
          </div>

          <!--Email-->
          <div class="email">
            <label>Email</label>
            <input
              class="email-input"
              type="text"
              formControlName="email"
              placeholder="Email"
            />
            <span class="err-message" *ngIf="errorMessages.emailMessages">
              {{ errorMessages.emailMessages }}
            </span>
          </div>

          <!--Password-->
          <div class="password">
            <label>Password</label>
            <input
              class="password-input"
              type="password"
              formControlName="password"
              placeholder="Password"
            />
            <span class="err-message" *ngIf="errorMessages.passwordMessages">
              {{ errorMessages.passwordMessages }}
            </span>
          </div>

          <!--Register Btn-->
          <div class="submit-button">
            <button type="submit" class="btn-primary" (click)="onSubmit()">
              Register
            </button>
          </div>
        </form>
      </div>
      <div class="col-6-brand">
        <h1 class="brand">Accesa Courses MVP</h1>
      </div>
    </div>
  </div>
</section>
