.container 
    width: 100%
    color: #006395
    .title
        color: #006395
    .register-form
        width: 50%
        height: 60vh
        display: flex
        flex-direction: column
        justify-content: space-around
    
    .submit-button
        width: 100%
        button
            width: 100%